body{
  background-color: cornflowerblue !important;
}
.App {
  text-align: center;
  
}
.container{
  width: 60% !important;
}
input{
  width: 50% !important;
  margin: 10px auto !important;

}
.title{
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
}
.spans{
  padding: 10px;
    font-size: 15px;
    font-weight: 800;

}
.thetitle{
  background-color: cornsilk;
  padding: 10px;
  width: 50%;
  margin: auto;
}
.data{
  background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-top: 1px solid;
}
.pointer{
  cursor: pointer;
  font-size: 25px;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
